.content {
  padding-top: 20rem;
  background-color: #fafafa;
}

.content .container {
  display: flex;
  justify-content: space-between;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.aside {
  width: 40%;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  width: 650px;
}

.last-comment-date {
  font-size: 1.5rem;
  color: #beb9b9;
  font-weight: 400;
}