.post {
  border: 1px solid #dbdbdb;
  margin-bottom: 8rem;
  box-sizing: border-box;
  background: #fff;
}

.post-header .user-thumbnail {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
  padding: .2rem;
}

.post-header {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  line-height: 1.5;
}

.post-header .username {
  font-size: 2rem;
  margin: 1rem;
}

.action-icons,
.form-container,
.comments-section {
  padding: .5em 1.5rem;
}

.action-icons {
  display: flex;
}

.action-icons .icon {
  font-size: 3rem;
}

.action-icons .bookmark {
  margin-left: auto;
  color: #262626;
}

.like .icon {
  color: #dc3545;
}

.comment,
.share {
  margin-left: 1rem;
  color: #262626;
}

.post-footer {
  border-top: 1px solid #dbdbdb;
  text-align: center;
  padding-top: 10px;
}

.image-container img {
  width: 100%;
}

.form {
  display: flex;
  align-items: baseline;
}

.form .comment-input {
  resize: none;
  width: 90%;
  border: none;
  outline: 0;
  color: #262626;
  font-size: 1.5rem;
  box-sizing: border-box;
}

.form .add-comment-btn {
  border: 0;
  font-size: 1.5rem;
  text-align: center;
  color: #3897f0;
  display: inline-block;
  font-weight: bold;
}

.form .add-comment-btn:hover {
  color: #0182fa;
  cursor: pointer;
}