.post {
  border: 1px solid #dbdbdb;
  margin-bottom: 8rem;
  box-sizing: border-box;
}

.post-header .user-thumbnail {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
  padding: .2rem;
}

.post-header {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  line-height: 1.5;
}

.post-header .username {
  font-size: 2rem;
  margin: 1rem;
}

.action-icons,
.form-container,
.comments-section {
  padding: .5em 1.5rem;
}

.action-icons {
  display: flex;
}

.action-icons .icon {
  font-size: 3rem;
}

.action-icons .bookmark {
  margin-left: auto;
  color: #262626;
}

.like .icon {
  color: #dc3545;
}

.comment,
.share {
  margin-left: 1rem;
  color: #262626;
}

.post-footer {
  border-top: 1px solid #dbdbdb;
}