.post {
  border: 1px solid #e6e6e6;
  margin-bottom: 8rem;
  box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
}

.post-header .user-thumbnail {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
  padding: .2rem;
}

.post-header {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  line-height: 1.5;
}

.post-header .username {
  font-size: 2rem;
  margin: 1rem;
}

.action-icons,
.form-container,
.comments-section,
.total-likes,
.last-comment-date {
  padding: .5em 1.5rem;
}

.action-icons {
  display: flex;
}

.action-icons .icon {
  font-size: 3rem;
  cursor: pointer;
}

.action-icons .bookmark {
  margin-left: auto;
  color: #262626;
}

.like .icon {
  color: #dc3545;
}

.action-icons .comment,
.action-icons .share {
  margin-left: 1rem;
  color: #262626;
}

.image-container img {
  width: 100%;
}

.total-likes {
  color: #262626;
  font-size: 1.3rem;
  font-weight: bold;
}