body {
  background: #fafafa;
}

.login-section {
  width: 400px;
  margin: 100px auto;
  font-size: 1.5rem;
}

.login-form-container {
  display: block;
  width: 350px;
  height: 400px;
  background: #fff;
  border: 1px solid #e6e6e6;
  text-align: center;
}

.dont-have-account {
  width: 350px;
  height: 70px;
  background: #fff;
  border: 1px solid #e6e6e6;
  text-align: center;
  margin: 20px 0;
}

.dont-have-account p {
  margin-top: 25px;
}

.dont-have-account a {
  text-decoration: none;
  color: #0078e0;
}

.logo-container {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 40px;
}

.logo-container img {
  width: 200px;
  height: 80px;
}

.input {
  border: 0;
  border: 1px solid #f2f2f2;
  height: 40px;
  width: 270px;
  background: #f2f2f28f;
  border-radius: 3px;
  padding: 5px 8px;
  outline: 0;
  box-sizing: border-box;
}

.input:focus {
  border-color: #f29f05;
}

.input[placeholder] {
  font-size: 15px;
}

.inptut-group {
  margin-bottom: 5px;
}

.button {
  width: 270px;
  padding: 0 8px;
  height: 40px;
  background: #3d9df2;
  border: 0;
  border: 1px solid #3d9df2;
  box-sizing: border-box;
  border-radius: 3px;
  color: #fff;
  margin: 10px 0;
  cursor: pointer;
  outline: 0;
  font-size: 1.8rem;
  font-weight: bold;
}

.button:hover {
  background: #0078e0;
  border-color: #0078e0;
}

.action-container a {
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  color: #0078e0;
}

.action-container {
  text-align: center;
  margin: 20px 0;
}

.login {
  background-image: url("https://img.icons8.com/color/48/000000/facebook.png");
  background-repeat: no-repeat;
  background-size: 25px;
  height: 25px;
  width: 150px;
  margin: 0 auto;
  padding-left: 30px;
  text-align: left;
}

.login img {
  width: 25px;
  height: 25px;
}

.app p {
  text-align: center;
  margin: 15px 0;
}

.app-link-container {
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.btn {
  background: #262626;
  color: #fff;
  width: 150px;
  height: 40px;
  border: 0;
  border: 1px solid #262626;
  cursor: pointer;
}

.apple-store,
.play-store {
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}

.apple-store .fab {
  font-size: 30px;
}

.play-store .fab {
  font-size: 30px;
  color: #05dbf2;
}