.content {
  padding-top: 20rem;
  background-color: #fafafa;
}

.content .container {
  display: flex;
  justify-content: space-between;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.posts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}